Agente IA RAG.json
{
  "name": "RAG 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "5a32b60d-b1e3-41b6-a1c6-f3e86093df79",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "fileSelector": "D:\\Descargas\\Codigo 2\\Prueba-datos\\inteligencia_artificial.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "992ff7fd-f1d4-44e0-9882-9715a241bac9",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "Prueba-datos",
          "mode": "list",
          "cachedResultName": "Prueba-datos"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.2,
      "position": [
        420,
        0
      ],
      "id": "085c9c14-1989-4dd2-b4cf-fd3ecc145d28",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "bnyIYRsAQdJ7cyHV",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        400,
        220
      ],
      "id": "b100498a-17cf-4ad5-8b11-9899b23d2e88",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "eY2XseXbIIUuerB4",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "textLoader",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        580,
        220
      ],
      "id": "80080d7d-b618-4dd6-ae43-7ced1f52fbd0",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 800,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        680,
        440
      ],
      "id": "07f3b064-2a0d-489d-9d56-f3f852f8dad9",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1000,
        0
      ],
      "id": "824aaefa-cc41-4d2d-b400-7aa53fcb8964",
      "name": "When chat message received",
      "webhookId": "e0ecb2cd-b399-4e0c-8126-f7c7c9cf40d0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ce7a2ba-a53e-46e6-bf52-abcbff946de4",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "b3ecd8e5-0c6f-409b-89c7-8486b052bd56",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1220,
        0
      ],
      "id": "6049de5b-c0d8-4f76-8266-b36031048a46",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1440,
        220
      ],
      "id": "fc22d2c3-73e7-4697-aafd-a714f7652da0",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "eY2XseXbIIUuerB4",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "fafcfe91178e4ccd850c21cb8b5d27d4"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1600,
        220
      ],
      "id": "333c4b99-4a37-4ce3-b0f8-5052b17f848d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "ia_txt",
          "mode": "list",
          "cachedResultName": "ia_txt"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.2,
      "position": [
        1800,
        140
      ],
      "id": "0f1bbc7e-d893-4b9e-a62a-6d5dddfd2e57",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "bnyIYRsAQdJ7cyHV",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1840,
        320
      ],
      "id": "5179531c-25f9-4652-898d-9f87ae9fd708",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "eY2XseXbIIUuerB4",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        2160,
        140
      ],
      "id": "f1399766-9205-433a-b603-eab1425926d2",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "eY2XseXbIIUuerB4",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1900,
        -20
      ],
      "id": "75a5a340-3c13-4aa9-b803-1fe43c14d0cf",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1440,
        0
      ],
      "id": "3d24e01c-e913-4f7d-a09a-c56746b182df",
      "name": "AI Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ea03c6cf-1080-4c27-8edf-dc337ddb593a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a215093c3e3c83b988043eb892cfdb0f3969a7ad977781540fba4e9198837eca"
  },
  "id": "oa98UnWBAyLrYnSR",
  "tags": []
}